*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}

@import url('https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@300;400;800&display=swap');


body {
  font-family: 'M PLUS 1p', sans-serif;

}

.wrapper {
  min-width: 100%;
  overflow: hidden;

  display: flex;
  flex-direction: column;
}

.content {
  flex: 1 1 auto;
  text-align: center;
}

.container {
  max-width: 1125px;
  margin: 0px auto;

}

.footer {
  /* width: 100%;
  min-height: 90px; */
  background: #F8F8F8;
  box-shadow: 2px 4px 6px rgba(194, 192, 192, 0.25);
}

.footer__row {
  min-width: 100%;
  min-height: 90px;
  display: flex;
  /* margin: 0 auto; */
  justify-content: space-between;
  align-items: center;
}

.footer__logo {
  display: block;
  min-width: 106px;
  height: 38px;
  margin-right: 84px;
  background-image: url(../img/logo.svg);
}

.footer__search {
  display: block;
  width: 360px;
  height: 44px;
  margin-right: 115px;
}

.footer__search input {
  width: 360px;
  height: 44px;
  border: 1px;
  font-style: normal;
  font-weight: 300;
  font-size: 12px;
  line-height: 21px;
  background-color: #ECECEC;
  display: flex;
  text-align: center;
  color: #111010;
  margin-right: 115px;
}

.footer__download {
  display: flex;
  align-items: center;
  text-align: center;
  margin-right: 83px;
  color: #000000;
}

.footer__download a {
  font-weight: 700px;
  font-size: 14px;
  line-height: 25px;
  color: #000000;
}

.footer__btn-entry {
  display: block;
  position: relative;
  min-width: 86px;
  min-height: 40px;
  border: 2px solid #000000;
  margin-right: 11px;
}

.footer__btn-entry span {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%)
}

.footer__btn-registration {
  position: relative;
  min-width: 140px;
  height: 40px;
  background: #000000;
  overflow: hidden;
  color: white;
}

.footer__btn-registration span {
display: block;
font-weight: 700;
font-size: 14px;
margin: 0;
position: absolute;
top: 50%;
left: 50%;
margin-right: -50%;
transform: translate(-50%, -50%)
}

.local {
display: inline-block;
position: absolute;
top: 0;
left: 81%;
/* right: 640px; */
}
.local a {
  text-decoration: none;
  font-size: 14px;
  font-weight: 600;
  line-height: 25px;
  letter-spacing: 0em;

  color: #000000

}
.local a:last-child {
  text-decoration: underline;
  margin-left: 7px;
  font-weight: 700px;
}

.tracks {
    padding: 80px 0px 100px 0px;

}

.tracks__block {
  position: relative;
}

.tracks__row {
  display: flex;
  min-width: 1125px;
  min-height: 374px;
}

.tracks__block__row {
  display: flex;
  flex-direction: column;
}

.tracks__block__img img{
  min-width: 350px;
  min-height: 246px;
  /* background-image: url(../img/photo.png); */
}

.tracks__block__name {
  font-size: 24px;
  font-weight: 700;
  line-height: 36px;
  letter-spacing: 0em;
  text-align: left;
}

.tracks__block__title {
  font-size: 14px;
  font-weight: 300;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
}

.line {
  align-items: flex-end;
  justify-content: space-between;

}

.tracks__block__main {
  font-family: 'Mplus 1p';
  font-style: normal;
  font-weight: 700;
  font-size: 24px;
  line-height: 43px;
  display: flex;
  align-items: center;
  text-align: center;

  color: #000000;
}

.tracks__block__little-block {
  display: inline;
  width: 60px;
  height: 60px;
  background-image: url(../icon/next_icon.svg);
  position: absolute;
  right: -15px;
  bottom: 95px;


}

footer {
  min-width: 100%;
  min-height: 160px;
  background-color: black;
  display: flex;
  align-items: center;
  text-align: center;
}

.footer-text {
  font-style: normal;
  font-weight: 200;
  font-size: 14px;
  line-height: 25px;
  color: #FFFFFF;
  opacity: 0.5;
}
