*{padding: 0;margin: 0;border: 0;}
*,*:before,*:after{-moz-box-sizing: border-box;-webkit-box-sizing: border-box;box-sizing: border-box;}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
html,body{height: 100%;width: 100%;font-size: 100%;line-height: 1;font-size: 14px;-ms-text-size-adjust: 100%;-moz-text-size-adjust: 100%;-webkit-text-size-adjust: 100%;}
input,button,textarea{font-family:inherit;}
input::-ms-clear{display: none;}
button{cursor: pointer;}
button::-moz-focus-inner {padding:0;border:0;}
a, a:visited{text-decoration: none;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h6{font-size:inherit;font-weight: 400;}
p{margin: 0!important; }
h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin: 40px auto 10px!important;
}

.btn {
  width: 300px;
  height: 150px;
  line-height: 130px!important;
  border: 1px solid #abb5bf;
  padding: 0px;
  overflow: hidden;
  border-radius: 12px;
  font-size: 16px;
}

.btn:hover {
  border: 1px solid red ;
  cursor: pointer;
  line-height: 125px!important;
  font-size: 18px;
}

.btn a {
  text-decoration: none;
  color: black;
  margin: 0 auto;
  text-align: center;
  top: 50%
}

.btn:hover a {
  color: grey;
}

a {
  display: block;
}



.learning {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: space-evenly ;
}

.item {
  width: 500px;;
}

.btn-main{
  display: block;
  width: 80px;
  height: 40px;
  border: .5px solid #666;
  font-size: 22px;
  border-radius: 12px;
  position: relative;
  left: 30%;
  background-color: rgb(253, 231, 231);
  text-decoration: none;
  font-weight: bold;
}

.btn-main:hover{
  border: 1.5px solid rgb(36, 36, 36);
  font-size: 24px;
}

.btn-main a{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(44, 44, 44);
}

.learning>div>a:hover {
  font-size: 24px;
  transition-delay: .5s;
  
}

.title {
  font-size: 64px;
  text-shadow: 2px 2px 5px rgb(146, 141, 141);
}

.subtitle {
  text-align: center;
  margin: 0 auto 20px;
  font-size: 14px;
  line-height: 1.5;
  width: 530px!important;
}

.page {
  margin: 0 auto;
  margin: 50px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: inset 0 -1em 3em #f8f9fa, 0 0 0 2px rgb(255 255 255), 0.1em 0.3em 1em #212529;
  justify-content: center;
}

.block-title {
  display: inline;
  text-shadow: 2px 2px 5px rgb(146, 141, 141);
  font-size: 36px;
}

.block-subtitle {
  text-align: left;
  margin: 10px 10px 20px !important;
  font-size: 14px;
  line-height: 1.5;
  width: 930px!important;
}